.form {
  max-width: 650px;
  height: fit-content;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  background: var(--color-bg_light);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.form label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form label textarea {
  height: 60px;
  width: 500px;
  border: none;
  border-radius: 5px;
}
.form input {
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  color: var(--color-bg_light);
  font-weight: 100;
  outline: none;
  border: none;
  width: 100%;
}
.form select {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
}
.add-btn,
.submit-btn {
  padding: 5px 30px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: var(--color-bg_light);
  color: white;
}
