.quiz {
  width: 500px;
  border: 1px solid var(--color-bg_grey);
  height: fit-content;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}
.quiz-question_number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quiz .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: var(--color-bg_light);
}
.quiz .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}
.quiz-heading {
  font-weight: 500;
  font-size: 18px;
}
.timer {
  padding: 15px;
  font-size: 18px;
}
.timer span {
  color: #5a698f44;
  font-size: 16px;
}
.quiz-text {
  text-align: left;
}
.quiz-text span {
  font-size: 20px;
  font-weight: 600;
}
.quiz ul {
  list-style: none;
  text-align: left;
}
.quiz ul li {
  padding: 5px 15px;
  border: 1px solid var(--color-bg_grey);
  background: #5a698f44;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px 0;
}
/* for selected answer */
.quiz ul .selected-answer {
  background: var(--color-bg_light);
  border: 1px solid var(--color-bg_grey);
  color: var(--color-white);
}

.quiz button {
  background: linear-gradient(90.04deg, #10141e 0.03%, #5a698f 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}
.quiz button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}
.flex-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.flex-right img {
  height: 20px;
  width: 20px;
  filter: invert(60%);
  cursor: pointer;
}

.flex-right img:hover {
  filter: invert(10%);
}
.warning {
  position: relative;
  width: 100%;
  /* background: #fc4747; */
  color: var(--color-bg_grey);
  margin: 10px 0;
  padding: 15px;
}
.warning-content div {
  display: flex;
  justify-content: space-between;
}
.warning button:first-child {
  background: #fc4747;
  color: var(--color-white);
  border: 2px solid var(--color-white);
}
.warning button:last-child {
  background: var(--color-white);
  color: #fc4747;
  border: 2px solid #fc4747;
}
.add-btn {
  padding: 5px 30px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: var(--color-bg_light);
  color: white;
  cursor: pointer;
}

.add-btn:hover {
  background-color: var(--color-white);
  color: var(--color-bg_light);
  border: 2px solid var(--color-bg_light);
}
.no-questions {
  margin: 20px;
}
.restart-button {
  padding: 15px;
  color: var(--color-white);
  background-color: #fc47475e;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}
.restart-button:hover {
  background-color: #fc4747;
}
